body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  #header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #teaser {
    height: 410px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 16px;
    text-align: center;
  }
  h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    font-weight: 300;
  }
  .lhead {
    font-weight: normal;
    margin-top: 5px;
  }
  .litem {
    margin-top: 5px;
  }
  .sechighlight {
    background-color: #f7f6f1;
  }
  .thirdhighlight
  {
      background-color: white;
  }
  .fourthhighlight
  {
    background-color: rgb(192, 189, 189);
  }
  #coursedesc {
    text-align: justify;
  }
  .sec {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
  }